@use "../variables.scss" as *;

.reviews-section {
  background: $color-page-header;
  padding: 90px 0;

  &__container {
    width: 100%;
  }

  &__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 85px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }

  &__subtitle {
    margin-top: 16px;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: $color-text-secondary;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__card {
    background: $color-text-white;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0 3px 2px -1px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stars {
    gap: 4px;
  }

  &__text {
    margin-top: 24px;
    font-size: 16px;
    color: $color-text-secondary;
    line-height: $height-line;
  }

  &__author {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: $height-line;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ebebeb;
  }

  &__nav {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #1717171a;
    box-shadow: 0 1px 2px 0 #00000040;
    cursor: pointer;
    transition: 0.3s ease;

    &--active {
      background: $color-text;
      color: $color-text-white;
      box-shadow: 0 1px 2px 0 #0000000d;
    }
  }

  @media (max-width: 992px) {
    padding: 70px 0;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__header {
      margin-bottom: 60px;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0;

    &__header {
      max-width: 100%;
      margin-bottom: 40px;
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 24px;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  @media (max-width: 480px) {
    padding: 50px 0;

    &__header {
      text-align: center;
      max-width: 310px;
      margin: 0 auto 45px;
    }

    &__title {
      font-size: 24px;
      line-height: 40px;
    }

    &__subtitle {
      margin-top: 16px;
      line-height: 23px;
      font-size: 14px;
    }

    &__grid {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 18px;
    }

    &__nav {
      margin-top: 25px;
      gap: 16px;
    }
  }
}
