@use "../variables.scss" as *;

.footer {
  background: #171717;
  color: $color-text-white;
  padding: 70px 0 90px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 12px;

    &-icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;

      svg {
        width: 100%;
        height: 100%;
        stroke: $color-secondary;
        stroke-width: 1.75;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 6px;

      span {
        font-size: 14px;
        text-transform: lowercase;
        color: $color-text-secondary;
      }

      a,
      p {
        font-size: 14px;
        color: $color-text-white;
        text-decoration: none;
        transition: 0.1s ease;
        margin: 0;
      }

      a:hover {
        opacity: 0.8;
      }
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 110px;
  }

  &__column {
    h4 {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: $color-text-white;
    }

    ul {
      margin-top: 16px;
      list-style: none;
      padding: 0;
      display: inline-flex;
      flex-direction: column;
      gap: 12px;

      li {
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease;
        color: $color-text-secondary;

        &:hover {
          color: $color-text-white
        }
      }
    }
  }
}
