@use "../variables.scss" as *;
@import "../components/intro";
@import "../components/features";

.faq-main {
  background: $color-text-white;
  padding: 50px 0 70px;

  &__grid {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 80px;
    margin-bottom: 60px;
    align-items: start;
  }

  &__left {
    width: 100%;
    min-width: 0;
  }

  &__right {
    width: 100%;
    min-width: 0;
  }

  &__cta {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding: 20px;
    background: $color-text-white;
    box-sizing: border-box;
  }

  &__cta-title {
    font-size: 24px;
    font-weight: 500;
  }

  &__cta-description {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    color: $color-secondary;
    line-height: $height-line;
  }

  &__cta-actions {
    display: flex;
    margin-top: 16px;
    gap: 8px;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 25px;
      height: 40px;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 13px;
      font-weight: 400;
      white-space: nowrap;
      box-sizing: border-box;
    }
  }

  &__item {
    background: #17171708;
    border-radius: 8px;
    margin-top: 20px;
    padding: 16px 20px;
    width: 100%;
    box-sizing: border-box;

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      line-height: $height-line;

      &::-webkit-details-marker {
        display: none;
      }
    }

    .faq__icon {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-shrink: 0;
      min-width: 28px;
      background: #1212121a;
      border-radius: 8px;
      width: 28px;
      height: 28px;

      svg {
        display: block;
        transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &[open] .faq__icon {
      background: $color-text;

      svg {
        transform: rotate(180deg);

        path {
          stroke: $color-text-white;
        }
      }
    }

    p {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 400;
      line-height: $height-line;
      color: $color-text-secondary;
    }

    &:first-child {
      margin: 0;
    }
  }
}
