@use "../variables.scss" as *;

.faq-intro {
  background-color: #f3f3f3;
  padding: 40px 0 85px;

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: $color-text-secondary;
  }

  &__breadcrumb-link {
    color: $color-text-secondary;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #171717;
    }
  }

  &__breadcrumb-current {
    color: #171717;
    font-weight: 500;
  }

  &__content {
    max-width: 720px;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    color: $color-text;
    letter-spacing: 0.5%;
    margin-top: 25px;
  }

  &__description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #525252;
  }
}

/* ================= MAIN SECTION ================= */

.faq-section {
  background: $color-text-white;
  padding: 50px 0 70px;

  &__grid {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 80px;
    margin-bottom: 60px;
    align-items: start;
  }

  &__left {
    width: 100%;
  }

  &__right {
    width: 100%;
  }

  &__cta {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding: 20px;
    background: $color-text-white;
  }

  &__cta-title {
    font-size: 24px;
    font-weight: 500;
  }

  &__cta-description {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    color: $color-secondary;
    line-height: $height-line;
  }

  &__cta-actions {
    display: flex;
    margin-top: 16px;
    gap: 8px;
    & a {
      padding: 0 25px;
      height: 40px;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 13px;
      font-weight: 400;
    }
  }

  &__item {
    background: #17171708;
    border-radius: 8px;
    margin-top: 20px;
    padding: 16px 20px;
    width: 100%;

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      line-height: $height-line;
      position: relative;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    .faq__icon {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-shrink: 0;
      background: #1212121a;
      border-radius: 8px;
      width: 28px;
      height: 28px;
    }
    .faq__icon svg {
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }
    summary::-webkit-details-marker {
      display: none;
    }

    &[open] .faq__icon {
      background: $color-text;
      svg {
        transform: rotate(180deg);
        path {
          stroke: $color-text-white;
        }
      }
    }

    p {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 400;
      line-height: $height-line;
      color: $color-text-secondary;
    }
  }
  &__item:first-child {
    margin: 0;
  }

  /* FEATURES */

  &__features {
    margin-top: 70px;
    width: 100%;
  }

  &__features-title {
    font-size: 30px;
    font-weight: 600;
  }

  &__features-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  &__feature {
    max-width: 280px;
  }

  &__feature-title {
    font-size: 20px;
    font-weight: 500;
    color: #171717;
  }

  &__feature-description {
    font-size: 16px;
    margin-top: 12px;
    line-height: 25px;
    font-weight: 400;
    color: $color-text-secondary;
  }
}
