@use "../variables.scss" as *;

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  min-height: 720px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: $color-text-white;

  &__overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.4;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__content {
    max-width: 740px;
  }

  &__subtitle {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #dedede;
  }

  &__title {
    font-size: 68px;
    line-height: 88px;
    font-weight: 800;
    margin-top: 24px;
  }

  &__title-main,
  &__title-sub {
    display: block;
    color: $color-text-white;
  }

  &__description {
    font-size: 28px;
    font-weight: 400;
    margin-top: 24px;
    color: $color-text-white;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
    text-transform: uppercase;

    span {
      font-size: 14px;
      font-weight: 500;
      color: $color-text-white;
    }
  }

  &__actions {
    display: flex;
    margin-top: 45px;
    gap: 25px;
    font-size: 16px;
    font-weight: 400;
    a {
      height: 58px;
      width: 230px;
      padding: 0;
    }
  }
}

.services-grid {
  background-color: $color-page-header;
  padding: 100px 0 130px;

  &__container {
    width: 100%;
  }

  &__header {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 110px;
  }

  &__title {
    font-size: 64px;
    font-weight: 600;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    color: $color-text-secondary;
    max-width: 900px;
    margin: 12px auto 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px 60px;
  }

  &__item {
    text-align: center;

    img {
      max-height: 380px;
      height: auto;
    }

    p {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.brands {
  background-color: $color-text-white;
  padding: 90px 0 120px;

  &__container {
    width: 100%;
  }

  &__header {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 60px;
  }

  &__title {
    font-size: 64px;
    font-weight: 600;
  }

  &__description {
    font-size: 24px;
    color: $color-secondary;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 12px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 80px;
    align-items: center;
    justify-items: center;

    img {
      max-width: 220px;
      width: 100%;
      height: auto;
      transition: all 0.3s ease;
      filter: grayscale(100%);
    }
  }
}

.trust-hero {
  position: relative;
  min-height: 720px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: $color-text-white;

  &__overlay {
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.35;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__content {
    max-width: 740px;
  }

  &__title {
    font-size: 80px;
    font-weight: 800;
  }

  &__title-main,
  &__title-sub {
    display: block;
    color: $color-text-white;
  }

  &__description {
    font-size: 36px;
    font-weight: 400;
    margin-top: 28px;
    color: $color-text-white;
  }

  &__actions {
    margin-top: 75px;
    a {
      width: 340px;
      height: 76px;
      padding: 0;
      font-size: 30px;
      font-weight: 400;
    }
  }

  &__note {
    font-size: 27px;
    margin-top: 8px;
    font-weight: 400;
    color: $color-text-white;
  }
}

.faq {
  background: $color-text-white;
  padding: 80px 0;

  &__container {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: 500px 605px;
    gap: 135px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    max-width: 500px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    padding: 8px 14px;
    border-radius: 100px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      border-color: #ddd;
    }

    p {
      color: $color-text-secondary;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 18px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 24px;
    margin-top: 14px;
  }

  &__cta {
    margin-top: 30px;
    max-width: 460px;
    background: $color-text-white;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #e5e5e5;

    h3 {
      font-size: 24px;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 460px;
      color: $color-text-secondary;
      margin-top: 16px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 16px;
    gap: 12px;

    button {
      border-radius: 10px;
    }
  }
  &__item {
    background: #17171708;
    border-radius: 8px;
    margin-top: 20px;
    padding: 16px 20px;
    width: 100%;

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      list-style: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      position: relative;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    .faq__icon {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-shrink: 0;
      background: #1212121a;
      border-radius: 8px;
      width: 28px;
      height: 28px;
    }
    .faq__icon svg {
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }
    summary::-webkit-details-marker {
      display: none;
    }

    &[open] .faq__icon {
      background: $color-text;
      svg {
        transform: rotate(180deg);
        path {
          stroke: $color-text-white;
        }
      }
    }

    p {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #666;
    }
  }
  &__item:first-child {
    margin: 0;
  }
}

.testimonials {
  background: $color-page-header;
  padding: 90px 0;

  &__container {
    width: 100%;
  }

  &__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 85px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }

  &__subtitle {
    margin-top: 16px;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: $color-text-secondary;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__card {
    background: $color-text-white;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0 3px 2px -1px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stars {
    gap: 4px;
  }

  &__text {
    margin-top: 24px;
    font-size: 16px;
    color: $color-text-secondary;
    line-height: 24px;
  }

  &__author {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ebebeb;
  }

  &__nav {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #1717171a;
    box-shadow: 0 1px 2px 0 #00000040;
    cursor: pointer;
    transition: 0.3s ease;

    &--active {
      background: $color-text;
      color: $color-text-white;
      box-shadow: 0 1px 2px 0 #0000000d;
    }
  }
}
