@use "../variables.scss" as *;

.locations-intro {
  background-color: #f3f3f3;
  padding: 40px 0 85px;

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: $color-text-secondary;
  }

  &__breadcrumb-link {
    color: $color-text-secondary;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #171717;
    }
  }

  &__breadcrumb-current {
    color: #171717;
    font-weight: 500;
  }

  &__content {
    max-width: 720px;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    color: $color-text;
    letter-spacing: 0.5%;
    margin-top: 25px;
  }

  &__description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #525252;
  }
}

.locations-section {
  background: $color-text-white;
  padding: 50px 0 70px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 30px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    &:hover p {
      color: $color-text-primary;
    }
  }

  &__image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__name {
    margin-top: 12px;
    font-size: 20px;
    color: #000;
    line-height: $height-line;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &__cta {
    background: $color-text-white;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding: 20px 24px;
    margin-top: 30px;
  }

  &__cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cta-title {
    font-size: 24px;
    font-weight: 500;
  }

  &__cta-description {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    color: $color-text-secondary;
  }

  &__cta-actions {
    display: flex;
    gap: 12px;
  }

  &__cta-actions {
    & a {
      padding: 0 25px;
      height: 40px;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
.locations-section {
  &__features {
    margin-top: 70px;
    width: 100%;
  }

  &__features-title {
    font-size: 30px;
    font-weight: 600;
  }

  &__features-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  &__feature {
    max-width: 280px;
  }

  &__feature-title {
    font-size: 20px;
    font-weight: 500;
    color: #171717;
  }

  &__feature-description {
    font-size: 16px;
    margin-top: 12px;
    line-height: 25px;
    font-weight: 400;
    color: $color-text-secondary;
  }
}
