@use "../variables.scss" as *;
@import "../components/intro";
@import "../components/features";

.promotions-section {
  background: $color-text-white;
  padding: 50px 0 70px;

  &__heading {
    font-size: 30px;
    font-weight: 500;
    color: #000;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-top: 50px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__card-title {
    font-size: 24px;
    font-weight: 600;
    color: $color-primary;
  }

  &__card-description {
    font-size: 20px;
    font-weight: 400;
  }

  &__banner {
    margin-top: 50px;
    position: relative;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }

  &__banner-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 0 0 70px 70px;
  }

  &__banner-content button {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    width: 310px;
    height: 75px;
    margin-top: 36px;
  }

  &__banner-title {
    font-size: 54px;
    font-weight: 700;
    color: $color-text-white;
  }

  &__steps {
    margin-top: 50px;
  }

  &__steps-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
  }

  &__steps-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__step-number {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #ddd;
    color: $color-secondary;
    flex-shrink: 0;
  }

  &__step-text {
    font-size: 20px;
    font-weight: 600;
    color: $color-secondary;
  }

  @media (max-width: 1200px) {
    &__grid {
      gap: 60px;
    }
  }

  @media (max-width: 992px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 60px;
    }

    &__card-title {
      font-size: 22px;
    }

    &__card-description {
      font-size: 18px;
    }

    &__banner {
      min-height: 520px;
    }

    &__banner-title {
      font-size: 44px;
    }

    &__steps-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__steps-title {
      font-size: 26px;
    }
  }

  @media (max-width: 768px) {
    &__heading {
      font-size: 26px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 45px;
      margin-top: 35px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__card-description {
      font-size: 16px;
    }

    &__banner {
      min-height: 460px;
    }

    &__banner-content {
      max-width: 500px;
      padding: 0 0 50px 50px;
    }

    &__banner-content button {
      font-size: 17px;
      width: 260px;
      height: 62px;
      margin-top: 28px;
    }

    &__banner-title {
      font-size: 38px;
    }

    &__steps {
      margin-top: 40px;
    }

    &__steps-title {
      font-size: 24px;
    }

    &__steps-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    &__step-text {
      font-size: 17px;
    }
  }

  @media (max-width: 480px) {
    padding: 30px 0;

    &__heading {
      font-size: 24px;
    }

    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: 25px 45px;
      margin-top: 25px;
    }

    &__card {
      gap: 12px;
    }

    &__card-title {
      font-size: 18px;
    }

    &__card-description {
      font-size: 14px;
    }

    &__banner {
      margin-top: 30px;
      min-height: 450px;
    }

    &__banner-content {
      max-width: 440px;
      padding: 0 0 33px 40px;
    }

    &__banner-content button {
      font-size: 14px;
      width: 215px;
      height: 50px;
      margin-top: 24px;
    }

    &__banner-title {
      font-size: 30px;
    }

    &__steps {
      margin-top: 30px;
    }

    &__steps-title {
      font-size: 24px;
    }

    &__steps-grid {
      margin-top: 30px;
      grid-template-columns: 1fr;
      gap: 35px;
    }

    &__step {
      gap: 30px;
    }

    &__step-number {
      width: 48px;
      height: 48px;
      font-size: 20px;
      flex-shrink: 0;
      position: relative;
      background-color: #fff;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 1px;
        height: calc(100% + 35px);
        background: #ddd;
      }
    }
    &__step:last-child &__step-number::after {
      display: none;
    }

    &__step-text {
      font-size: 20px;
    }
  }
}
