@use "../variables.scss" as *;

.reviews-intro {
  background-color: #f3f3f3;
  padding: 40px 0 85px;

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: $color-text-secondary;
  }

  &__breadcrumb-link {
    color: $color-text-secondary;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #171717;
    }
  }

  &__breadcrumb-current {
    color: #171717;
    font-weight: 500;
  }

  &__content {
    max-width: 720px;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    color: $color-text;
    letter-spacing: 0.5%;
    margin-top: 25px;
  }

  &__description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #525252;
  }
}
.reviews-section {
  background: $color-text-white;
  padding: 50px 0 80px;

  &__container {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__card {
    background: $color-page-header;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0 3px 2px -1px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__text {
    font-weight: 400;
    margin-top: 24px;
    font-size: 16px;
    color: $color-text-secondary;
    line-height: $height-line;
  }

  &__author {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: $height-line;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ebebeb;
  }

  &__nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
    background: transparent;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    background: $color-text-white;
    border-radius: 8px;
    cursor: pointer;
    &--active {
      box-shadow: 0 1px 1px 0 #0000001a;
      border: 1px solid #e4e4e4;
    }
  }
}
