@use "../variables.scss" as *;

.reviews-intro {
  background-color: #f3f3f3;
  padding: 60px 0 80px;

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #737373;
  }

  &__breadcrumb-link {
    color: #737373;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #171717;
    }
  }

  &__breadcrumb-separator {
    color: #a3a3a3;
  }

  &__breadcrumb-current {
    color: #171717;
    font-weight: 500;
  }

  &__content {
    max-width: 720px;
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    color: #171717;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 18px;
    line-height: 28px;
    color: #525252;
  }
}