// Text colors
$color-text: #121212;
$color-text-white: #ffffff;
$color-text-primary: #c4e1ff;
$color-text-secondary: #737373;
$color-text-blue: #bed8ff;

// Brand / Accent
$color-primary: #155dfc;
$color-primary-hover: #1047e9;
$color-secondary: #555555;

// Other
$color-page-header: #f5f5f5;
$height-line: 24px;