// Text colors
$color-text-primary: #121212;
$color-text-inverse: #ffffff;
$color-bg-footer: #171717;
$color-section-light: #F5F5F5;

// Brand / Accent
$color-primary: #155DFC;
$color-secondary: #737373;