@use "./styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Manrope";
  color: $color-text-primary;
}
body {
  background-color: #f5f5f5;
}